html { overflow-y: scroll; }
body { color: #000000; background-color: #F4F4F4; margin: 0em; font-family: sans-serif, Arial; padding: 0 10% 0 10%; }

canvas { position:fixed; top:0px; left:0px; z-index: -1; display: block; opacity: 1.0; }

#header { color: #33B5E5; background-color: #323232; padding: 10px 20px 10px 20px; z-index: 100;
          font-family: Arial Narrow; text-align: right; }

#wrapper { background-color: #FFFFFF; padding: 1em 0 1em 0; margin: 0; opacity: 0.95; }

#sidebar { display: block; float: left;  width: 15%; text-align: right; padding: 0.5em 0em 0.5em 0em;
           font-family: Arial Narrow; font-size: 1.5em; }
    .selection { padding: 0.25em 0.25em 0.25em 0em; }
    .selection:hover { color: #FFFFFF; background-color: #43C5F5; }

    .highlight { color: #FFFFFF; background-color: #33B5E5; }

#content { margin-left: 15%; padding: 0.75em 5% 5% 2%; border-left: solid; border-color: #33B5E5; }
    .section_title { display: none; }
    .subsection { padding-bottom: 1em; }
    .subsection_title { font-size: 1.5em;}
    .subsection_item { font-size: 1em;}
    .subsection_item img { padding: 0.5em 0 0.5em 0; display: block; margin: auto; }
    .subsection_item .chart { padding: 0.5em 0 0.5em 0; display: block; margin: auto; }
    #projects {  }
    #resume { display: none; }
    #samples { display: none; }

#footer { color: #F4F4F4; background-color: #323232; padding: 0.1em 0em 0.1em 0em;
          font-family: Arial Narrow; text-align: center; font-size: 0.75em; }

hr { border-color: #33B5E5; padding: 0em; margin: 0em 0.25em 0em 1em; }

a:link { color: #33B5E5; text-decoration: none; }
a:visited { color: #33B5E5; text-decoration: none; }